@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
body {
  font-family: "Source Sans Pro";
  margin: 0px;
}

.banner {
  background-color: rgb(0, 0, 0);
  color: wheat;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 600;
}
.banner-logo i {
  color: red;
}

.video {
  position: sticky;
  top: 0;
  z-index: 10;
}

video {
  width: 100%;
  height: 50vh;
}

main {
  margin: 10px 20px;
}

.meta-data__hashtag {
  color: rgb(40, 53, 231);
  font-size: 15px;
}

.meta-data__title {
  font-weight: 600;
}

.meta-data__subtitle {
  opacity: 0.5;
  margin-top: 5px;
}

.meta-data__icons {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.meta-data__icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
}

.meta-data__icon i {
  margin-bottom: 10px;
}

.character {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

.character-main img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
}

.character-main {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.character-main span:last-child {
  font-weight: 200;
  opacity: 0.7;
}

.character-text {
  display: flex;
  flex-direction: column;
}

.character-text__subscribe {
  font-weight: 600;
  color: red;
}

.upset {
  opacity: 0.5;
}

.thumbnail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
}

.thumbnail img {
  width: 300px;
  height: 100px;
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
  }
  .box {
    width: 50%;
  }
  .box:last-child {
    margin-left: 40px;
  }
}
